[Unit]
Description=Homeware LAN Upgrader
After=network-online.target

[Service]
ExecStart=python3 /home/pi/Homeware-LAN/bash/homewareUpgrader.sh
WorkingDirectory=/home/pi/Homeware-LAN/bash/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
