[Unit]
Description=Homeware LAN MQTT
After=network-online.target

[Service]
ExecStart=python3 /usr/share/Homeware-LAN/homewareMQTT.py
WorkingDirectory=/usr/share/Homeware-LAN/
Restart=always

[Install]
WantedBy=multi-user.target
