[Unit]
Description=Homeware LAN
After=network-online.target

[Service]
ExecStart=sh /home/pi/Homeware-LAN/homeware.sh
WorkingDirectory=/home/pi/Homeware-LAN/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
