[Unit]
Description=Homeware LAN
After=network-online.target

[Service]
ExecStart=sh /usr/share/Homeware-LAN/back/homeware.sh
WorkingDirectory=/usr/share/Homeware-LAN/back/
Restart=always

[Install]
WantedBy=multi-user.target
