[Unit]
Description=Homeware LAN Redis
After=network-online.target

[Service]
ExecStart=redis-server
WorkingDirectory=/usr/share/Homeware-LAN/redis/redis-stable/
Restart=always

[Install]
WantedBy=multi-user.target
