.assistant_container {
  margin-top: 250px;
}

.assistant_text {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.code{
  margin: 20px;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff;
}
