.assistant_container {
  margin-top: 250px;
}

.assistant_text {
  width: 50%;
  margin-left: 25%;
  text-align: left;
}

.alert_message {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255,255,0,0.5);
  color: black;
  border-radius: 20px;
}

.code{
  margin: 20px;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff;
}
