
@media only screen and (min-width: 800px) {
  .task_table_row {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px auto;
  }

  .task_table_cel {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
  }

  .task_table_input {
    width: 100%
  }

  .trigger_logic_container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #aaa;
  }

  .trigger_logic_title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .trigger_device_container {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid #aaa;
    display: grid;
    grid-template-columns: 80% auto;
  }

  .trigger_delete {
    width: 20px;
  }

  .trigger_logic_button {
    padding: 2px;
    width: 70px;
  }
}
