<!doctype html>
<html lang="en">
  <head>
    {{ basic['head']|safe }}
  </head>
  <body>

    <div id="navbarBlock">
      {{ basic['navbar']|safe }}
    </div>

    <div id="grid" class="container containerP">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            <h2>Take note</h2>
            - Not all devices are supported yet.<br>
            - Not all devices has been tested. If you find something that goes wrong create an issue on Github.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="alertContainer"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form id=formulario"">


            <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
              <button type="button" class="btn btn-danger" id="deleteDevice">Delete device</button>
              <button type="button" class="btn btn-primary" id="save">Save</button>
              <input type="hidden" id="operation" value="none">
              <input type="hidden" id="default_names" value="">
              <input type="hidden" id="nick_names" value="">
            </div>

            <div class="container p-3 mb-2 bg-light text-dark">
              <h3>ID and type</h3>
              <div class="form-group">
                <label for="id">Device ID:</label>
                <input type="text" class="form-control" id="id">
              </div>
              <div class="form-group">
                <label for="type">Type:</label>
                <select class="form-control" id="type" onchange="updateTraits('no')" disabled>
                  <option>Select a device</option>
                </select>
              </div>
            </div>

            <div class="container p-3 mb-2 bg-light text-dark">
              <h3>Traits</h3>
              <div class="form-group">
                <label for="traits">Traits</label>
                <select multiple class="form-control" id="trais" onchange="updateTraitsDependencies()">
                  <option>Select a device type first</option>
                </select>
                <small id="emailHelp" class="form-text text-muted">Select all you need using <i>Ctrl</i> key.</small>
              </div>
            </div>

            <div id="attributes">

            </div>



            <div class="container p-3 mb-2 bg-light text-dark">
              <h3>Device Info</h3>
              <div class="form-group">
                <label for="hwVersion">Hardware version:</label>
                <input type="text" class="form-control" id="hwVersion" >
              </div>
              <div class="form-group">
                <label for="swVersion">Firmware version:</label>
                <input type="text" class="form-control" id="swVersion"  >
              </div>
              <div class="form-group">
                <label for="manufacturer">Manufacturer:</label>
                <input type="text" class="form-control" id="manufacturer" >
              </div>
              <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" id="model"  >
              </div>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" >
              </div>
            </div>

            <div class="container p-3 mb-2 bg-light text-dark">
              <h3>Default names</h3>
              <div id="badge_default_names_container">

              </div>
              <hr>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="add_default_names" placeholder="Write a new one and click Add">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="add_default_name_button"  onclick="addName('default_names')">Add</button>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">A list separeted by ,</small>
            </div>

            <div class="container p-3 mb-2 bg-light text-dark ">
              <h3>Nick names</h3>
              <div id="badge_nick_names_container">

              </div>
              <hr>
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="add_nick_names" placeholder="Write a new one and click Add">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" id="add_nick_names_button" onclick="addName('nick_names')">Add</button>
                </div>
              </div>
              <small id="emailHelp" class="form-text text-muted">A list separeted by ,</small>
            </div>



          </form>
        </div>
      </div>
    </div>

    <div id="toastBoard" aria-live="polite" aria-atomic="true" style="position:absolute; bottom:0; min-height: 10px;  width: 100%;">
      <!-- Position it -->
      <div id="toastBoardPosition" style="position: absolute; bottom: 0; right: 0; margin-right: 20px; margin-bottom: 20px;">
        <!--Toats go here-->
      </div>
    </div>

    <script src="/static/panel/load.js"></script>
    <script src="/static/panel/coolNames.js"></script>
    <script src="/static/panel/device_edit.js"></script>
    <script src="/static/panel/device_dependencies.js"></script>

    <script>
      //Load things
      window.addEventListener('load', function(event){
        var operation = 'create';
        document.getElementById('operation').value = operation;

        Object.keys(deviceCoolName).forEach(function(device){
          document.getElementById('type').innerHTML += '<option value="' + device + '">' + getDeviceCoolName(device) + '</option>';
        })

        requestDevices('{{ deviceID }}');
      })

    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>
