<!doctype html>
<html lang="en">
  <head>
    {{ basic['head']|safe }}
  </head>
  <body>

    <div id="navbarBlock">
      {{ basic['navbar']|safe }}
    </div>

    <div id="grid" class="container containerP">

      <div class="row">
        <div class="col">
          <div id="alertContainer"></div>
        </div>
      </div>

      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-apikey" aria-selected="false">Status</a>
          <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-google" role="tab" aria-controls="nav-home" aria-selected="true">Google</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-dns" role="tab" aria-controls="nav-profile" aria-selected="false">DDNS</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-mqtt" role="tab" aria-controls="nav-profile" aria-selected="false">MQTT</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-backup" role="tab" aria-controls="nav-contact" aria-selected="false">Backup and restore</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-apikey" role="tab" aria-controls="nav-apikey" aria-selected="false">API Key</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-log" role="tab" aria-controls="nav-apikey" aria-selected="false">Events</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-components" role="tab" aria-controls="nav-apikey" aria-selected="false">Components</a>
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade  show active" id="nav-status" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark" id="HomeWareStatus">
                <h3>Homeware status</h3>
                <hr>
                <div id="HomewareCurrentStatus"></div>
                <div id="HomewareNewStatus"></div>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-google" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            <div class="col">
              <form id="formularioGoogle">

                <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
                  <span class="textMessageAlert" id="textMessageAlertGoogle">Up to date</span>
                  <button type="button" class="btn btn-primary" id="saveGoogle">Save</button>
                  <!--<input type="hidden" id="n" value="-1">-->
                </div>

                <div class="container p-3 mb-2 bg-light text-dark">
                  <h3>Actions on Google</h3>
                  <hr>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="clientId">
                    </div>
                    <div class="form-group col-md-7 colAligmentL">
                        <label for="clientId">Client ID</label>
                    </div>
                    <div class="form-group col-md-2 colAligmentA">
                      <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('clientId')">Learn more</a>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="clientSecret">
                    </div>
                    <div class="form-group col-md-7 colAligmentL">
                        <label for="clientSecret">Client secret</label>
                    </div>
                    <div class="form-group col-md-2 colAligmentA">
                      <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('clientSecret')">Learn more</a>
                    </div>
                  </div>
                  <span id="actionOnGoogleAuxiliarData"></span>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-dns" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="row">
            <div class="col">
              <form id="formularioDDNS">

                <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
                  <span class="textMessageAlert" id="textMessageAlertDDNS">Up to date</span>
                  <button type="button" class="btn btn-primary" id="saveDDNS">Save</button>
                </div>


                <div class="container p-3 mb-2 bg-light text-dark">
                  <h3>DDNS provider</h3>
                  <hr>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ddnsEnabled">
                        <label class="custom-control-label" for="ddnsEnabled">Enable</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-8">
                      <div class="form-row">
                        <div class="form-group col-md-7">
                          <select class="form-control" id="ddnsProvider">
                            <option>noip</option>
                          </select>
                        </div>
                        <div class="form-group col-md-2 colAligmentL">
                            <label for="ddnsProvider">Provider</label>
                        </div>
                        <div class="form-group col-md-2 colAligmentA">
                          <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('ddns')">Learn more</a>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-7">
                            <input type="text" class="form-control" id="ddnsUsername">
                        </div>
                        <div class="form-group col-md-2 colAligmentL">
                            <label for="ddnsUsername">Username</label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-7">
                            <input type="password" class="form-control" id="ddnsPassword">
                        </div>
                        <div class="form-group col-md-2 colAligmentL">
                            <label for="ddnsPassword">Password</label>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-7">
                            <input type="text" class="form-control" id="ddnsHostname" disabled>
                        </div>
                        <div class="form-group col-md-2 colAligmentL">
                            <label for="ddnsHostname">Hostname</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <span style="font-weight: bold; font-size: 20px; margin-right: 20px;">Status</span>
                      <span class="badge badge-secondary" id="ddnsStatusBadge">Disabled</span>
                      <br>
                      <br>
                      <span id="ddnsLastUpdate">Last update: </span><br>
                      <span id="ddnsIP">IP: </span>

                    </div>
                  </div>

                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-mqtt" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="row">
            <div class="col">
              <form id="formularioMQTT">

                <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
                  <span class="textMessageAlert" id="textMessageAlertMQTT">Up to date</span>
                  <button type="button" class="btn btn-primary" id="saveMQTT">Save</button>
                </div>


                <div class="container p-3 mb-2 bg-light text-dark">
                  <h3>MQTT</h3>
                  <hr>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="mqttUser">
                    </div>
                    <div class="form-group col-md-7 colAligmentL">
                        <label for="mqttUser">User</label>
                    </div>
                    <div class="form-group col-md-2 colAligmentA">
                      <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('mqtt')">Learn more</a>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control" id="mqttPassword">
                    </div>
                    <div class="form-group col-md-7 colAligmentL">
                        <label for="mqttPassword">Password</label>
                    </div>
                    <div class="form-group col-md-2 colAligmentA">
                      <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('mqtt')">Learn more</a>
                    </div>
                  </div>
                  <p>Important. You must configure the username and password into Mosquitto manually from a terminal. This is only for telling Homeware its credentials. Clear both if you don't use credentials.</p>
                </div>

              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-backup" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark">
                <h3>Backup</h3>
                <hr>
                <div class="form-row">
                  <div class="form-group col-md-7">
                      <button type="button" class="btn btn-primary" onclick="buckup()">Download file</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark">
                <h3>Restore</h3>
                <hr>

                  <div class="form-row">
                    <div class="form-group col-md-7">
                      <form method=post enctype=multipart/form-data action="/files/restore/file/" id="backupUploaderForm">
                        <input type="file" class="form-control-file" name="file">
                        <br>
                        <button type="submit" class="btn btn-primary">Upload</button>
                      </form>
                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-apikey" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark">
                <h3>API Key</h3>
                <hr>
                <div class="form-row">
                  <div class="form-group col-md-7">
                      <input type="text" class="form-control" id="apikey" disabled>
                  </div>
                  <div class="form-group col-md-3 colAligmentL">
                      <label for="apikey">API Key</label>
                  </div>
                  <div class="form-group col-md-2 colAligmentL">
                      <button type="button" class="btn btn-primary" onclick="generateAPIKey()">Generate</button>
                  </div>
                </div>
                <span>The API Key gives you access to the Homeware's API. Please do not generate an API Key if you are not sure of what you are doing.</span>

              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
                <div class="card card-body" style="margin-top:20px;" id="eventsLogBox">

                  <button type="button" class="btn btn-primary" id="showEventsLog">Show</button>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-components" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="row">
            <div class="col">
              <div class="container p-3 mb-2 bg-light text-dark">
                <h3>Homeware Core</h3>
                <hr>
                <div class="row">
                  <div class="col-md-7">
                      Homeware API
                  </div>
                  <div class="col-md-3 colAligmentL">
                    <span class="badge badge-success" id="apiBadge">Running</span>
                  </div>
                  <div class="col-md-2 colAligmentL">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="apiEnable" checked disabled>
                      <label class="custom-control-label" for="apiEnable" title="This is an essential component, it can not be disabled.">Enable</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                      Homeware MQTT
                  </div>
                  <div class="col-md-3 colAligmentL">
                    <span class="badge badge-success" id="mqttBadge">Running</span>
                  </div>
                  <div class="col-md-2 colAligmentL">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="mqttEnable" checked disabled>
                      <label class="custom-control-label" for="mqttEnable" title="This is an essential component, it can not be disabled.">Enable</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                      Homeware Tasks
                  </div>
                  <div class="col-md-3 colAligmentL">
                    <span class="badge badge-success" id="tasksBadge">Running</span>
                  </div>
                  <div class="col-md-2 colAligmentL">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="tasksEnable" checked disabled>
                      <label class="custom-control-label" for="redisEnable" title="This is an essential component, it can not be disabled.">Enable</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-7">
                      Redis database
                  </div>
                  <div class="col-md-3 colAligmentL">
                    <span class="badge badge-success" id="redisBadge">Running</span>
                  </div>
                  <div class="col-md-2 colAligmentL">
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="redisEnable" checked disabled>
                      <label class="custom-control-label" for="redisEnable" title="This is an essential component, it can not be disabled.">Enable</label>
                    </div>
                  </div>
                </div>
                <br>
                <h3>Plugins</h3>
                <hr>
                WIP

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Modal Learn more -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="learMoreModalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="learMoreModalParagraph">
            ...
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Waiting -->
    <div class="modal fade" id="modalUpgrade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="upgradeModalTitle">Title</h5>
          </div>
          <div class="modal-body" id="upgradeModalParagraphContainer">
            <span id="upgradeModalParagraph">Paragrah</span>
            <br><br>
            <button type="button" class="btn btn-primary" onclick="resetStep()" id="buttonClose">Close</button>
            <button type="button" class="btn btn-warning" onclick="downloadAndUpgrade()" id="buttonNext">Next</button>
          </div>
        </div>
      </div>
    </div>

    <div id="toastBoard" aria-live="polite" aria-atomic="true" style="position:absolute; right: 20px; bottom:0; min-height: 10px;  ">
      <!-- Position it -->
      <div id="toastBoardPosition" style="position: absolute; bottom: 0; right: 0; margin-left: 20px; margin-bottom: 20px; width: 300px;">
        <!--Toats go here-->
      </div>
    </div>

    <script src="/static/panel/load.js"></script>
    <script src="/static/panel/settings.js"></script>

    <script>
      data = {}
      window.addEventListener('load', function(event){
        requestActual();
        requestSettings();
        requestStatus();
        if ('{{ msg }}' != 'none'){
          document.getElementById('textMessageAlert').innerHTML = 'Upload: {{ msg }}';
        }
        document.getElementById('backupUploaderForm').action += getCookieValue('token') + '/';
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>
