<!doctype html>
<html lang="en">
  <head> </head>
  <body style="visibility: hidden;">

    <div id="navbarBlock"></div>

    <div id="grid" class="container containerP">

      <div class="row">
        <div class="col">
          <div id="alertContainer"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form id=formulario"">


            <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
              <span class="textMessageAlert" id="textMessageAlert">Up to date</span>
              <button type="button" class="btn btn-primary" id="save">Save</button>
              <!--<input type="hidden" id="n" value="-1">-->
            </div>

            <div class="container p-3 mb-2 bg-light text-dark">
              <h3>Google's connection data</h3>
              <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="clientId">
                </div>
                <div class="form-group col-md-7 colAligmentL">
                    <label for="clientId">Client ID</label>
                </div>
                <div class="form-group col-md-2 colAligmentA">
                  <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('clientId')">Learn more</a>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" class="form-control" id="clientSecret">
                </div>
                <div class="form-group col-md-7 colAligmentL">
                    <label for="clientSecret">Client secret</label>
                </div>
                <div class="form-group col-md-2 colAligmentA">
                  <a class="badge badge-primary" data-toggle="modal" data-target="#modal" style="color:white;" onclick="updateModal('clientSecret')">Learn more</a>
                </div>
              </div>

            </div>

          </form>

          <div class="container p-3 mb-2 bg-light text-dark">
            <h3>Backup and restore</h3>
            <hr>
            <div class="form-row">
              <div class="form-group col-md-3">
                  <button type="button" class="btn btn-primary" onclick="buckup()">Download file</button>
              </div>
              <div class="form-group col-md-3 colAligmentL">
                  <label for="buckup">Buckup</label>
              </div>
            </div>
            <hr>

            <div class="form-row">
              <div class="form-group col-md-7">
                <form method=post enctype=multipart/form-data action="/files/restore/file/" id="backupUploaderForm">
                  <input type="file" class="form-control-file" name="file">
                  <br>
                  <button type="submit" class="btn btn-primary">Upload</button>
                </form>
              </div>
              <div class="form-group col-md-3 colAligmentL">
                  <label for="buckup">Restore</label>
              </div>
            </div>

          </div>


          <div class="container p-3 mb-2 bg-light text-dark" style="text-align: right">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#eventsLog" aria-expanded="false" aria-controls="eventsLog" id="showEventsLog">
              Show events log
            </button>
          </div>
          <div class="collapse" id="eventsLog">
            <div class="card card-body" style="margin-top:20px;" id="eventsLogBox">

              WIP

            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- Modal Learn more -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="learMoreModalTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="learMoreModalParagraph">
            ...
          </div>
        </div>
      </div>
    </div>

    <div id="toastBoard" aria-live="polite" aria-atomic="true" style="position:absolute; right: 20px; bottom:0; min-height: 10px;  ">
      <!-- Position it -->
      <div id="toastBoardPosition" style="position: absolute; bottom: 0; right: 0; margin-left: 20px; margin-bottom: 20px; width: 300px;">
        <!--Toats go here-->
      </div>
    </div>

    <script>

      data = {}
      window.addEventListener('load', function(event){
        //laodSettingsRequest();
        laodTokenRequest();

        if ('{{ msg }}' != 'none'){
          document.getElementById('textMessageAlert').innerHTML = 'Upload: {{ msg }}';
        }

        document.getElementById('backupUploaderForm').action += getCookieValue('token') + '/';
      });

      function laodSettingsRequest(){
        var http = new XMLHttpRequest();
        http.addEventListener("load", function(){
          loadSettings(http.responseText);
        });
        http.open("GET", "/api/read/settings");
        http.setRequestHeader('authorization', 'baerer ' + getCookieValue('token'))
        http.send();
      }

      function loadSettings(local_data){
        var settings = JSON.parse(local_data);
        data = settings;

        Object.keys(settings['strings']).forEach(function(setting){
          if(setting != 'apiClockURL')
            document.getElementById(setting).value = settings['strings'][setting];
        });

        Object.keys(settings['bools']).forEach(function(setting){
          document.getElementById(setting).checked = settings['bools'][setting];
        });
      }

      function laodTokenRequest(){
        var http = new XMLHttpRequest();
        http.addEventListener("load", function(){
          console.log(http.responseText)
          loadToken(http.responseText);
        });
        http.open("GET", "/api/secure/get");
        http.setRequestHeader('authorization', 'baerer ' + getCookieValue('token'))
        http.send();
      }

      function loadToken(local_data){
        var token = JSON.parse(local_data);

        document.getElementById('clientId').value = token['client_id'];
        document.getElementById('clientSecret').value = token['client_secret'];

      }

      save.addEventListener('click', function() {
        //Update the text message
        document.getElementById('textMessageAlert').innerHTML = '...';
        data['client_id'] = document.getElementById('clientId').value;
        data['client_secret'] = document.getElementById('clientSecret').value;

        saveData('secure', data);
        //Update the text message
        updateMessageWithTime();
      });

      function saveData(segment, value){
        var http = new XMLHttpRequest();
        http.addEventListener("load", function(){
          if (http.responseText != 'Bad token')
            console.log(http.responseText);
          else {
            document.getElementById('textMessageAlert').innerHTML = 'An error has happed.';
          }
        });
        http.open("GET", "/api/" + segment + "/update/" + JSON.stringify(value) + '/');
        http.setRequestHeader('authorization', 'baerer ' + getCookieValue('token'))
        http.send();
      }

      function updateModal(settings){
        var title = 'Fail';
        var paragrahp = 'Something goes wrong';

        if (settings == 'clientSecret'){
          title = 'Client Secret';
          paragraph = 'It is used to authenticate with Google. If you change it here, you must change it on the Actions Console > Develop > Account Linking.';
        } else if (settings == 'clientId'){
          title = 'Client ID';
          paragraph = 'It is used to authenticate with Google. If you change it here, you must change it on the Actions Console > Develop > Account Linking';
        } else if (settings == 'apiClockURL'){
          title = 'The clock\'s URL from your Homeware API';
          paragraph = 'It is an static URL, you can not change it.';
        }


        document.getElementById('learMoreModalTitle').innerHTML = title;
        document.getElementById('learMoreModalParagraph').innerHTML = paragraph;

      }

      //Print message after save
      function addZero(i) {
        if (i < 10) {
          i = "0" + i;
        }
        return i;
      }

      function updateMessageWithTime(){
        var d = new Date();
        var h = addZero(d.getHours());
        var m = addZero(d.getMinutes());
        var s = addZero(d.getSeconds());
        document.getElementById('textMessageAlert').innerHTML = 'Saved at ' + h + ":" + m + ":" + s;
      }

      // TODO
      // - Show events list
      //Load the events
      /*showEventsLog.addEventListener('click', function(){
        database.ref('/events/read/').on('value', function(eventsSnapshot){
          var events = eventsSnapshot.val();
          var eventsKeys = Object.keys(events);
          //Compose the HTML
          var html = '';
          for(i = eventsKeys.length-1; i > eventsKeys.length-11; i--){
            var uniqueEvent = events[eventsKeys[i]];
            date = new Date(uniqueEvent.timestamp);
            html += '<div class="card"> <div class="card-body">';
            html += '<b>' + uniqueEvent.title + '</b> <br> ' + uniqueEvent.text + ' <br> <b>Timestamp</b>: ';
            html += addZero(date.getDate()) + '/' + addZero(date.getMonth()) + '/' + date.getFullYear() + ' ' + addZero(date.getHours()) + ':' + addZero(date.getMinutes()) + ':' + addZero(date.getSeconds());
            html += '</div> </div>';
          }

          document.getElementById('eventsLogBox').innerHTML = html;
        })
      })*/

      function buckup(){
        window.location = "/files/buckup/homeware/" + getCookieValue('token')
      }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="/static/panel/load.js"></script>
    <script src="/static/panel/footer.js"></script>

  </body>
</html>
