<!doctype html>
<html lang="en">
  <head>
    {{ basic['head']|safe }}
  </head>
  <body>

    <div id="navbarBlock">
      {{ basic['navbar']|safe }}
    </div>

    <div id="grid" class="container">
      <div class="row rowP">
        <div class="col">
          <button type="button" class="btn btn-primary" onclick="window.location.href='/tasks/edit/'">New task</button>
        </div>
      </div>
      <hr class="hrWhite">
      <h2>Tasks</h2>
      <div class="row rowP" id="tasksList">

      </div>
    </div>

    <div id="toastBoard" aria-live="polite" aria-atomic="true" style="position:absolute; bottom:0; min-height: 10px;  width: 100%;">
      <!-- Position it -->
      <div id="toastBoardPosition" style="position: absolute; bottom: 0; right: 0; margin-right: 20px; margin-bottom: 20px;">
        <!--Toats go here-->
      </div>
    </div>

    <script src="/static/panel/load.js"></script>
    <script src="/static/panel/coolNames.js"></script>
    <script src="/static/panel/tasks.js"></script>

    <script type="text/javascript">
      window.addEventListener('load', function(event){
        laodDevicesRequest();
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
