<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Homeware</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/devices/">Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rules/">Rules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tasks/">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/settings/">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/kikeelectronico/Homeware-LAN">Repo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/kikeelectronico/Homeware-LAN/wiki">How to</a>
      </li>

    </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" id="logout" onclick="logout()">Log out</button>
  </div>
</nav>
