paho-mqtt==2.1.0
fastapi==0.115.0
uvicorn==0.30.6
python-dateutil==2.9.0.post0
requests==2.32.3
redis==5.0.8
flask_cors==4.0.1
bcrypt==4.2.0
google-auth==2.35.0
gevent
pymongo==4.10.0
python-multipart==0.0.10
