paho-mqtt==2.1.0
fastapi==0.115.12
uvicorn==0.34.0
python-dateutil==2.9.0.post0
requests==2.32.3
redis==5.2.1
flask_cors==4.0.1
bcrypt==4.3.0
google-auth==2.37.0
gevent
pymongo==4.11.3
python-multipart==0.0.20
