<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Config - User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="configTable">
        <div style="display: table-cell; vertical-align: middle; ">
          <div id="alertContainer"></div>
          <h1>Homeware configuration assistant - User</h1><br>
          <p>In order to keep your Homeware installation secure you must create an user and a password.</p>
          <input type="text" id="user" placeholder="Your username" style="margin-left: 20px;"/>
          <input type="password" id="pass" placeholder="Your password" style="margin-left: 20px;"/>
          <button type="button" class="btn btn-primary btn-lg" style="margin-left: 20px;" onclick="operation('user')">Create</button>
          <br>
          <br>
          <button type="button" class="btn btn-primary btn-lg" style="float: right;" onclick="process()">Next</button>
        </div>
    </div>

    <script>
      function process(){
        location.href = '/assistant/{{ next }}';
      }
      function operation(name){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          console.log(xmlHttp.responseText)
          if (xmlHttp.responseText == 'Saved correctly!'){
            document.getElementById('alertContainer').innerHTML = '<div class="alert alert-success" role="alert"> ' + xmlHttp.responseText + ' </div>';
          } else {
            document.getElementById('alertContainer').innerHTML = '<div class="alert alert-danger" role="alert"> ' + xmlHttp.responseText + ' </div>';
          }
        }
        url = 'http://' + window.location.hostname + ':5001/api/user/set/';
        xmlHttp.open( "POST", url, true );
        xmlHttp.setRequestHeader("Content-type", "application/json");
        xmlHttp.send(JSON.stringify({
          'user': document.getElementById('user').value,
          'pass': document.getElementById('pass').value
        }));
      }
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
