<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Config - Config Nginx</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="configTable">
        <div style="display: table-cell; vertical-align: middle; ">
          <h1>Homeware configuration assistant - Configuration of Nginx</h1><br>
          <p>Configure Nginx with the initial settings</p>
          <h3>Fancy way</h3>
          Type your domain and press this button.
          <input type="text" id="domain" placeholder="Your domain" style="margin-left: 20px;"/>
          <button type="button" class="btn btn-primary btn-lg" style="margin-left: 20px;" onclick="operation('confignginx')">Configure Nginx</button><br>
          <div id="loading"> </div>
          <div id="terminal"> </div>

          <h3>Manual way</h3>
          <p>If the Fancy way goes wrong</p>
          <p>Open a terminal on your Raspberry Pi or connect to the Raspberry Pi using SSH and run:</p>
          <span class="code">$ cd /etc/nginx/sites-enabled</span><br><br>
          <span class="code">$ sudo wget https://raw.githubusercontent.com/kikeelectronico/Homeware-LAN/master/configuration_templates/initial_nginx_config</span><br><br>
          <span class="code">$ sudo cp initial_nginx_config homeware</span><br><br>
          <span class="code">$ sudo rm initial_nginx_config</span><br><br>
          <span class="code">$ sudo nano homeware</span><br><br>
          <p>Sustituir <i>domain</i> por tu dominio en la línea <i>server_name domain;</i>. Guardar con <i>Ctrl + o</i> y salir con <i>Ctrl + x</i>.</p>
          <span class="code">$ sudo service nginx restart</span><br><br>
          <button type="button" class="btn btn-primary btn-lg" style="float: right;" onclick="process()">Next</button>
        </div>
    </div>

    <script>
      function process(){
        location.href = '/assistant/{{ next }}';
      }

      function operation(name){
        document.getElementById('loading').innerHTML = '<img id="loading" src="/static/loading.gif"/>';
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
              document.getElementById('loading').innerHTML = '';
              document.getElementById('terminal').innerHTML = xmlHttp.responseText.replace(/\\n/g, "<br />").replace(/b'/g, "").replace(/'/g, "");
              document.getElementById('terminal').classList.add('terminal');
          }
        }
        url = 'http://' + window.location.hostname + ':5001/assistant/operation/' + name + '/' + document.getElementById('domain').value;
        xmlHttp.open( "GET", url, true ); // false for synchronous request
        xmlHttp.send( null );
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
