<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Config - Change to domain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="configTable">
        <div style="display: table-cell; vertical-align: middle; ">
          <h1>Homeware configuration assistant - Change to domain</h1><br>
          <p>Open your router config web page, look for <i>Port Forwarding</i> and create the following rules.</p>
          <ul>
            <li>80 port:
              <ul>
                <li>Protocol: TCP</li>
                <li>WAN start port: 80</li>
                <li>WAN end port: 80</li>
                <li>LAN start port: 80</li>
                <li>LAN end port: 80</li>
                <li>LAN host IP: The Raspberry Pi IP</li>
              </ul>
            </li>
            <li>443 port:
              <ul>
                <li>Protocol: TCP</li>
                <li>WAN start port: 443</li>
                <li>WAN end port: 443</li>
                <li>LAN start port: 443</li>
                <li>LAN end port: 443</li>
                <li>LAN host IP: The Raspberry Pi IP</li>
              </ul>
            </li>
          </ul>
          <p>Now we must change to your domain.</p>
          <input type="text" id="domain" placeholder="Your domain" style="margin-left: 20px; "/>
          <button type="button" class="btn btn-primary btn-lg" onclick="process()">Go to your domain</button>
        </div>
    </div>

    <script>
      function process(){

        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
          console.log(xmlHttp.responseText)
        }
        url = 'http://' + window.location.hostname + ':5001/api/settings/domain/' + document.getElementById('domain').value;
        xmlHttp.open( "GET", url, true ); // false for synchronous request
        xmlHttp.send( null );

        location.href = 'http://' + document.getElementById('domain').value + '/assistant/{{ next }}';
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
