<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Config - User</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="configTable">
        <div style="display: table-cell; vertical-align: middle; ">
          <div id="alertContainer"></div>
          <h1>Homeware configuration assistant - Google</h1><br>
          <p>Google needs to know where Homeware is.</p>
          <p>Follow the instructions on this wiki <a href="https://github.com/kikeelectronico/Homeware-LAN/wiki/Connect-Homeware-LAN-with-Google" target="blanck">https://github.com/kikeelectronico/Homeware-LAN/wiki/Connect-Homeware-LAN-with-Google</a>.</p>
          <p>During the process you will use the following Client Information. You will be able to change it from the <i>Settings</i> page in the future.</p>
          <span id="actionOnGoogleData">
            <b>Client ID:</b> 123<br>
            <b>Client Secret:</b> 456<br>
            <b>Authorization URL:</b> https://&lt;your.domain.com&gt;/auth/<br>
            <b>Token URL:</b> https://&lt;your.domain.com&gt;/token/<br>
            <b>Fulfillment URL:</b> https://&lt;your.domain.com&gt;/smarthome/<br>
          </span>
          <br>
          <button type="button" class="btn btn-primary btn-lg" style="float: right;" onclick="process()">Next</button>
        </div>
    </div>

    <script>
      function process(){
        location.href = '/assistant/{{ next }}';
      }
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>
