html, body {
 margin:0;
 padding:0;
 height:100%;
 background-color: #eee;
 overflow-x: hidden;
}
h1 {
  color: black;
}

h2 {
  color: black;
}

.btnLogOut{
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
}

.clock{
  position: absolute;
  right: 0;
  margin-right: 20px;
  color: white;
  text-align: right;
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2em;
}

.rowP{
  margin-top: 15px;
}

.containerCard{
  margin-top: 50px;
  max-width: 60%;
}

.colorRectangle{
  width: 100%;
  height: 20px;
}

.hrWhite{
  border-top: 1px solid #ccc;
  width: 90%;
  margin-left: 5%;
}
.textMessageAlert{
  color:#CACACA;
  margin-right: 20px;
}
.colAligmentA{
  display: flex;
  align-items: center;
}
.colAligmentL label{
  height: 100%;
  display: flex;
  align-items: center;
}
.apiClock{
  margin-right: 10px;
}

.configTable {
  height: 100%;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 20px;
  display: table;
}

.code{
  margin: 20px;
  margin-top: 40px;
  padding: 10px;
  background-color: #fff;
}

#loading{
  width: 100%;
}

#loading img {
  display:block;
  margin:auto;
  width: 30%;
}

.terminal{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  min-height: 100px;
  background-color: #222;
  color: white;
  visibility: visible;
}

.task_card{
  width: 100%;
  margin-bottom: 20px;
}

.trigger_assistant_button{
  height: 150px;
  width: 35%;
  margin-left: 10%;
  border: 0px;
  background-color: white;
}

.trigger_assistant_button img{
  height: 150px;
  width: 150px;
}
