.component {
  margin-top: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 70% 30%;
}

.component_text_container {
  text-align: left;
  padding-top: 4px;
}

.component_text {
  font-size: 18px;
}

.component_label_container {
  text-align: right;
  padding-top: 4px;
}

.component_label {
  font-size: 12px;
  font-weight: bold;
  color: white;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}

.component_label_runnig {
  background-color: #E8F5E9; /* Verde muy suave de fondo */
  color: #2E7D32; /* Verde oscuro para el texto */
  border: 1px solid #2E7D32;

}

.component_label_stopped {
  background-color: #FFEBEE; /* Rojo muy suave de fondo */
  color: #C62828; /* Rojo intenso para el texto */
  border: 1px solid #C62828;
}
