<!DOCTYPE html>
<html lang="en" dir="ltr" style="margin: 0px; width: 100%; height: 100%; background-color: #eee;">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="width: 100%; height: 100%; padding-top: 50px;">
    <div style="text-align: center;">
      <h1>500</h1>
      <h2>Internal server error.</h2>
    </div>
    <hr style="width: 30%; margin-left:35%;">
    <div style="width: 35%; margin-left:32%;">
      <p>If the error continues, ssh in to your Raspberry Pi and use on of the following commands to see the system logs.</p>
      <ul>
        <li>journalctl -u homeware.service</li>
        <li>journalctl -u homewareMQTT.service</li>
        <li>journalctl -u homewareTasks.service</li>
        <li>journalctl -u homewareRedis.service</li>
      </ul>
    </div>
  </body>
</html>
