#root {
  height: 100%;
  width: 100%;
}

.Clear_app {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.text_left {
  text-align: left;
}

.text_decoration_none {
  text-decoration: none;
}

.alert_icon {
  height: 25px;
}

.advise {
  width: 70%;
  margin-top: 10px;
  color: #aaa;
}

.two_input {
  width: 100%;
  text-align: left;
}

.number_input {
  width: 80px;
}

.two_table_cel label {
  margin-left: 20px;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.main-app {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.upper-menu {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  vertical-align: middle;
  background-color: #1c8adb;
  color: white;
  font-size: 1.5em;
  -webkit-box-shadow: -1px 3px 22px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 22px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 22px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uppper_menu_title {
  margin: 0;
  font-size: 1em;
}

.uppper_menua_alert {
  margin: 0;
  text-align: right;
  font-size: 20px;
}

.menu {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  padding-right: 50px;
  text-align: left;
  background-color: white;
  position: relative;
}

.menu_data {
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_data_alert {
  width: 140px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: #1c8adb;
  color: white;
  cursor: pointer;
  text-align: center;
}

.menu_data_version {
  color: #aaa;
}

.align_right {
  text-align: right;
  padding: 0px 0;
  padding-right: 10px;
}  

.page {
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  flex: 1;
  overflow: scroll;
}

.two_table_row {
  width: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.two_table_row:first-child {
  margin-top: 0px;
}

.two_table_cel {
  display: flex;
  flex: 1; 
  padding-right: 10px;
}

.two_table_cel:first-child {
  min-width: 160px;
  flex-shrink: 0;
  flex: 0 1 auto;
}

.three_table_row {
  width: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.three_table_cel {
  display: flex;
  padding-right: 10px;
}

.three_table_cel:first-child {
  min-width: 180px;
  flex-shrink: 0;
  flex: 0 1 auto;
}

.attribute_table {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.attribute_table_title {
  flex: 1;
  text-align: left;
}

.attribute_table_form {
  flex: 2;
  text-align: left;

}

.attribute_table_form_add_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribute_table_subattribute {
  border-top: lightgray solid 1px;
  margin-top: 10px;
  padding-top: 20px;
}

.attribute_table_subattribute_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.attribute_table_subattribute_input {
  flex: 3;
}

/* Page type: block */

.page_block_container {
  width: 80%;
  margin-left: 8%;
  margin-top: 20px;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_block_content_container {
  width: 90%;
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_block_content_container > h2 {
  text-align: center;
}

.page_block_buttons_container {
  width: 80%;
  margin-top: 20px;
  text-align: left;
}

/* Page type: clear */

.page_buttons_containter {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
}

.page_search_containter {
  width: 80%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center; 
  position: relative;
}

.page_search_bar {
  width: 100%;
  height: 20px;
  color: #777;
  position: relative;
  border: none;
}

.page_search_bar:focus {
  outline: none;
  box-shadow: none;
  border-color: #ccc;
}

.page_search_clear {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
  font-size: 22px;
  color: #aaa;
  cursor: pointer;
}

.page_search_clear:hover {
  color: #aaa;
}

@media only screen and (max-width: 800px) {

  .menu_icon_container {
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .menu_icon_bar_1,
  .menu_icon_bar_2,
  .menu_icon_bar_3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change_menu_icon .menu_icon_bar_1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change_menu_icon .menu_icon_bar_2 {
    opacity: 0;
  }

  .change_menu_icon .menu_icon_bar_3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .menu {
    position: absolute;
    height: calc(100% - 80px);
    z-index: 100;
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
    transition: transform 0.3s linear;
  }

  .menu_show_up {
    -webkit-transform: translate(0px);
    transform: translate(0px);
  }

  .page_cards_container {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 20px;
  }

  .two_table_row {
    width: 100%;
    flex-direction: column;
  }

  .two_table_cel {
    width: 100%;
    display: flex;
    flex: 1; 
  }

  .two_table_cel:first-child {
    margin-bottom: 10px;
  }

  .three_table_row {
    width: 100%;
    flex-direction: column;
  }

  .three_table_cel {
    width: 100%;
    display: flex;
    flex: 1; 
  }

  .three_table_cel:first-child {
    margin-bottom: 10px;
  }

  /* Page type: block */

  .page_block_container {
    width: 80%;
    margin-left: 5%;
    margin-top: 20px;
    background-color: white;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 20px;
  }

  .page_block_content_container > h2 {
    text-align: center;
  }

  .page_block_buttons_container {
    width: 100%;
    margin-top: 20px;
  }

  /* Page type: clear */

  .page_buttons_containter {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
  }
}