#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Homeware-LAN */

.upper-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  background-color: #1c8adb;
  color: white;
  font-size: 1.5em;
  -webkit-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
}

.main-app {
  height: 100%;
  display: grid;
  grid-template-columns: 250px auto;
}

.menu {
  padding: 20px;
  text-align: left;
  background-color: white;
}

.menu-data {
  position: absolute;
  bottom: 0px;
}

.menu-data p {
  color: #aaa;
}

.page {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: scroll;
}

.advise {
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  color: #aaa;
}

.table_row {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px auto
}

.table_cel {
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
}

.table_input {
  width: 100%
}

.int_input {
  width: 50px;
}

.attribute_advise {
  width: 70%;
  color: #aaa;
}

.attribute_table_row {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 200px 300px auto
}

.attribute_table_cel {
  width: 100%;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: left;
}
