#root {
  height: 100%;
  width: 100%;
}

.Clear_app {
  text-align: center;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
  position: absolute;
}

@media only screen and (min-width: 800px) {
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }

  .main-app {
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
  }

  .menu {
    padding: 20px;
    text-align: left;
    background-color: white;
  }

  .page {
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: scroll;
  }

  .page_cards_container {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-gap: 20px;
  }

  .two_table_row {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px auto;
  }

  .two_table_cel {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
  }

  .three_table_row {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 200px 300px auto
  }

  .three_table_cel {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
  }

  .page_block_buttons_container {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 18px;
    text-align: left;
  }

  .page_block_buttons_container > button {
    width: 200px;
  }
}

@media only screen and (max-width: 800px) {
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .main-app {
    height: 100%;
  }

  .menu {
    padding: 20px;
    text-align: left;
    background-color: white;
    display: none;
  }

  .page {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: scroll;
  }

  .page_cards_container {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 20px;
  }

  .two_table_row {
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 10px;
  }

  .two_table_cel {
    width: 100%;
    height: 35px;
    line-height: 50px;
    vertical-align: middle;
    text-align: left;
  }

  .page_block_buttons_container {
    margin-top: 50px;
  }

  .page_block_buttons_container > button {
    width: 200px;
    margin-bottom: 10px;
  }
}

.advise {
  width: 70%;
  margin-left: 15%;
  margin-top: 10px;
  color: #aaa;
}

.upper-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  background-color: #1c8adb;
  color: white;
  font-size: 1.5em;
  -webkit-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
}

.menu-data {
  position: absolute;
  bottom: 0px;
}

.menu-data p {
  color: #aaa;
}

.alert_message {
  width: 40%;
  margin-left: 30%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgba(255,255,0,0.5);
  color: black;
  border-radius: 20px;
}

.page_title_container {
  width: 80%;
  margin-left: 8%;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  border-radius: 20px;
}

.page_block_container {
  width: 80%;
  margin-left: 8%;
  margin-top: 20px;
  background-color: white;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.page_block_content_container {
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  font-size: 18px;
  text-align: left;
}

.page_buttons_containter {
  width: 80%;
  margin-left: 9%;
  margin-top: 10px;
}

.two_input{
  width: 100%;
}

.two_table_cel label{
  margin-left: 20px;
}
