#root {
  height: 100%;
  width: 100%;
}

.Clear_app {
  text-align: center;
  height: 100%;
  width: 100%;
  /* overflow-y: hidden; */
  position: absolute;
}

@media only screen and (min-width: 800px) {
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    position: relative;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
}


/* Homeware-LAN */

.upper-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  text-align: left;
  background-color: #1c8adb;
  color: white;
  font-size: 1.5em;
  -webkit-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 22px -10px rgba(0,0,0,0.75);
}

@media only screen and (min-width: 800px) {
  .main-app {
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
  }

  .menu {
    padding: 20px;
    text-align: left;
    background-color: white;
  }

  .page {
    padding-top: 40px;
    padding-bottom: 100px;
    overflow: scroll;
  }
}

@media only screen and (max-width: 800px) {
  .main-app {
    height: 100%;
  }

  .menu {
    padding: 20px;
    text-align: left;
    background-color: white;
    display: none;
  }

  .page {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: scroll;
  }
}

.menu-data {
  position: absolute;
  bottom: 0px;
}

.menu-data p {
  color: #aaa;
}
