.page_cards_container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.device_room_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.device_romm_title{

}

.device_cards_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 20px;
  justify-content: center;
}

.device_card {
  width: 300px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: white;
}

.device_card_title {
  margin-top: 5px;
  margin-bottom: 5px
}

.device_card_divider {
  width: 80%;
}

.device_card_color_strip {
  width: 100%;
  height: 20px;
  border-radius: 20px 20px 0px 0px;
  background-color: lightgrey;
  opacity: 1;
}
