.attribute_advise {
  width: 70%;
  color: #aaa;
}

.add_attribute_button{
  width: 100px
}

.separator {
  width: 70%;
}

.no_attributes_message {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  color: #aaa;
}

/* Attributes table */

.attributes_table {
  width: 80%;
  margin-top: 10px;
  display: grid;
  grid-template-columns: max-content auto 1fr;
  column-gap: 5px;
  row-gap: 5px;
  align-items: center;
}

.attributes_row {
  display: contents;
}

.attributes_row::after {
  content: "";
  grid-column: 1 / -1;
  height: 0;
  margin-bottom: 0.25rem;
}

.attributes_row > .attributes_col_1 + .attributes_col_3 {
  grid-column: 2 / 4;
}

.attributes_col_1 {
  text-align: right;
  white-space: nowrap;
}

.attributes_col_2,
.attributes_col_3 {
  text-align: left;
}

.attributes_col_allign_up {
  padding-top: 5px;
  align-self: start;
}

.attribute_table_form {
  padding-top: 5px;
  flex: 2;
  text-align: left;
}

.attribute_table_form_add_button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.attribute_table_subattribute {
  border-top: lightgray solid 1px;
  margin-top: 10px;
  padding-top: 20px;
}

.attribute_table_subattribute_row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.attribute_table_subattribute_input {
  flex: 3;
}

@media only screen and (max-width: 800px) {
  .attributes_table {
    grid-template-columns: 1fr;
  }

  /* Primera columna: ocupa toda la línea */
  .attributes_col_1 {
    grid-column: 1;
    text-align: left;
    margin-bottom: 10px;
  }

  /* Segunda y tercera columna:
     saltan de línea con indentación */
  .attributes_col_2,
  .attributes_col_3 {
    grid-column: 1;
    margin-left: 1rem;
  }
}
